# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?


# React/Vite build output
node_modules/
dist/
build/

# Vite cache
.vite/

# Env files (falls du welche hast)
.env*
.env.local

# OS-spezifisch
.DS_Store
Thumbs.db

# IDEs/Editoren
.vscode/
.idea/
