# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Environment
.env
.venv/
env/
venv/

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# FastAPI temporary files (optional)
scan_results.csv
scan_results.html

# Reports Ordner
reports/
