.container {
  max-inline-size: 800px;
  margin: auto;
  padding: 1rem;
  font-family: sans-serif;
}
.result-block {
  margin: 1rem 0;
  border: 1px solid #ccc;
  padding: 0.5rem;
}
.loader {
  padding: 1rem;
}
.error {
  color: darkred;
  background: #fdd;
  padding: 0.5rem;
}
